<div>
    <div class="search-container">
        <input type="text" placeholder="Buscar..." (input)="onSearch($event)"/>
        @if (buttonLink) {
            <a routerLink="{{buttonLink}}" class="btn btn-yellow">Agregar</a>
        }
    </div>
    <div class="table-container">
        <table>
            <thead>
            <tr>
                @for (col of columns; track col) {
                    <th [style.text-align]="col.align || 'left'">{{ col.label }}</th>
                }
            </tr>
            </thead>
            <tbody>
                @if (highlightedData.length) {
                    @for (row of highlightedData; track row) {
                        <tr>
                            @for (col of columns; track col) {
                                <td [style.text-align]="col.align || 'left'">
                                    @switch (col.type) {
                                        @case (columnType.IMAGE) {
                                            <img [src]="row[col.name]" [alt]="col.label" width="50" height="50"/>
                                        }
                                        @case (columnType.DATE) {
                                            <span [innerHTML]="row[col.name]"></span>
                                        }
                                        @case (columnType.ACTION) {
                                            <button class="btn-icon" (click)="toggleMenu(row.id)">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                     fill="#c3c3c3" viewBox="0 -960 960 960">
                                                    <path d="M480-160q-33 0-56.5-23.5T400-240q0-33 23.5-56.5T480-320q33 0 56.5 23.5T560-240q0 33-23.5 56.5T480-160Zm0-240q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm0-240q-33 0-56.5-23.5T400-720q0-33 23.5-56.5T480-800q33 0 56.5 23.5T560-720q0 33-23.5 56.5T480-640Z"/>
                                                </svg>
                                            </button>
                                            <ng-template #dropdownMenu>
                                                <div class="dropdown-menu">
                                                    <button (click)="onEdit(row)">Editar</button>
                                                    <button class="delete" type="button" (click)="onDelete(row.id)">Eliminar</button>
                                                </div>
                                            </ng-template>
                                            <div *ngIf="menuOpenForId === row.id" [ngTemplateOutlet]="dropdownMenu"></div>
                                        }
                                        @default {
                                            <span [innerHTML]="row[col.name]"></span>
                                        }
                                    }
                                </td>
                            }
                        </tr>
                    }
                } @else {
                    <tr>
                        <td [attr.colspan]="columns.length" class="no-data">No hay datos disponibles</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="paginator">
        <span> {{ totalCount + ' de ' + highlightedData.length + ' Resultados' }}</span>
        <select (change)="onRecordsChange($event)">
            @for (option of pageSizeOptions; track option) {
                <option [value]="option">{{ option }}</option>
            }
        </select>
    </div>
</div>
