.table-container {
  overflow-x: auto;
}

table {
  table-layout: fixed;
  border-collapse: collapse;

  th, td {
    border-bottom: 1px solid var(--terthiary-color);
  }

  th {
    background-color: var(--bg-color);
    padding: 0.75rem 1rem;
  }

  td {
    padding: 0.5rem 1rem;
  }

  td.no-data {
    padding: 2.5rem 1rem;
  }
}

img {
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  object-position: center;
}

.no-data {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.search-container {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.paginator{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.dropdown-menu {
  position: absolute;
  background-color: var(--white);
  border: 1px solid var(--terthiary-color);
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0.35rem;
  min-width: 150px;
  z-index: 1000;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
  font-size: 16px;
}

.dropdown-menu a,
.dropdown-menu button {
  background-color: transparent;
  width: 100%;
  padding: 0.5rem 1.5rem;
  border: none;
  display: block;
  text-align: center;
  color: var(--primary-color);
  font-size: 1rem;
  cursor: pointer;
}

.dropdown-menu button.delete {
  color: var(--error-color);
}

.dropdown-menu a:hover,
.dropdown-menu button:hover {
  background-color: #f1f1f1;
}

@media (max-width: 425px) {
  .search-container {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    & input {
      width: 100%;
    }
  }
}

@media (min-width: 768px) {
  table {
    width: 100%;
  }
}
