<form [formGroup]="formGroup" (ngSubmit)="onSubmitForm()">
  <h2>Formulario de registro</h2>
  <hr>
  <section class="form-group">
    <app-form-control
      [control]="idFormCtrl"
      label="ID"
      placeholder="trj-crd"
      type="text">
    </app-form-control>

    <app-form-control
      [control]="nameFormCtrl"
      label="Nombre"
      placeholder="Tarjetas de Crédito"
      type="text">
    </app-form-control>

    <app-form-control
      [control]="descriptionFormCtrl"
      label="Descripción"
      placeholder="Tarjeta de consumo bajo la modalidad de crédito"
      type="text">
    </app-form-control>
    <app-form-control
      [control]="logoFormCtrl"
      label="Logo"
      placeholder="https://www.visa.com/..."
      type="text">
    </app-form-control>

    <app-form-control
      [control]="dateReleaseFormCtrl"
      label="Fecha de Liberación"
      type="date">
    </app-form-control>

    <app-form-control
      [control]="dateRevisionFormCtrl"
      label="Fecha de Revisión"
      type="date"
      [readonly]="true">
    </app-form-control>
  </section>
  <section class="actions-container">
    <button class="btn-gray" type="button" (click)="resetForm()">Reiniciar</button>
    <button class="btn-yellow" type="submit">Enviar</button>
  </section>
</form>
